// Global Variables
// -------------------------------------
// Edited Global Variable
@lovButtonBoorderRadius:		25px;
@windowBorderRaius:				10px;
@blackColor:					#636363;
//Title
@fontTitleSize:					18px;
@idexPageSubTitleFontSize:		16px;

// -------------------------------------
//Tree
@treeFontFamily:				Arial, Sans-serif;
//GoldenColor:
@baseColor :					#3C8DBC;
@baseColorHover:				#db9a47;
@focusShadowColor:				#0066EA;
//whiteColor:
@whiteColor:					#FFFFFF;
//red color:
@redColor:						#FF0000;
//req color
@reqColor:						#f39c12;
// window
@windowBorderColor:				#3C8DBC;
@windowBackgroundColor:        #3C8DBC;
@windowFramePadding:           4px;
//ErrorBox 
@errorBoxDisplay:				block;
@visibility:					false;
@invalidBackgroundColor:		#FEEBE6;
//Tabbox
@backgroundColorTab: 			#3C8DBC;
@backgroundColorSelectedTab:	#3C8DBC;
@backgroundColorSelectedTabHover: #db9a47;
@backgroundColorTabHover:		#db9a47;
@tabboxTextHoverColor:          #FFFFFF;
//Button
@baseButtonColor:				#0095d7;
@baseButtonBorderColor:			#0095d7;
@baseButtonHoverColor:			#00c0d7;
@baseButtonAcvtiveColor:		#00b1ff;
@baseButtonFocuseColor:			#0CBCFF;
@focusBorderColor:				#0CBCFF;
@baseButtonDisabledColor:		#80c1e9;
@buttonGold:					#3C8DBC;
@buttonGoldHover:				#cfaf4d;
@buttonGoldActive:				#cf9a4d;
@buttonGoldFocus:				#e8a13b;
@buttonGoldDisabled:			#d6ac75;
@buttonWhite:					#ffffff;
@buttonWhiteDisabled:			#cccccc;
@buttonWhiteFocus:				#eeeeff;
@buttonWhiteActive:				#ffddee;
@buttonWhiteHover:				#dddddd;

//Button index:
@baseBtnIndexColor:				@baseButtonColor;
@baseBtnIndexHover:				#3366FF;
@btnIndexActive:				#6699FF;
@btnIndexFocus:					#6666FF;
@btnIndexDisabled:				#337373;
// mask and loading
@maskBackgroundColor:			#000000;
@loadingBackgroundColor:		#000000;
// listbox
@selectedListBackgroundColor:	#0095D7;
@selectedListColor:				@whiteColor;
@selectedListHoverColor:		@whiteColor;
@listHoverBackgroundColor:		#00b1ff;
@listHoverColor:				@whiteColor;
@listboxOddBackgroundColor:		#f0f0f0;
//navbar
@navBarHeight:					45px;
@greyBgColor:					#555555;
@lightGreyColor:				#E2E2E2;
@greyBgColorActive:				#4B4B4B;
@greyBgColorOpen:				#4b4b4b;
@purpleBgColor:					#892e65;
@purpleBgColorHover:			#762c59;
@greenBgColor:					#2e8965;
@greenBgColorHover:				#2c7659;
@greenColor:					#69AA46;
@lightBlueBgColor:				#62a8d1;
@lightBlueHoveBgColor:			#579ec8;
@lightYellow:					#FEE188;
@redFerrari:					#df2200;







// Typography
// -------------------------------------
@baseFontSize:                 14px;
@baseTitleFontFamily:          'Open Sans';
@baseContentFontFamily:        'Open Sans';
//@baseTitleFontFamily:          Sans-serif;
//@baseContentFontFamily:        Sans-serif;
@baseLineHeight:               14px;

// 
// Component height
@baseHeight:                   8px;
@baseIconHeight:               @baseHeight * 2; // 16px
@baseButtonHeight:             @baseHeight * 3; // 24px
@baseBarHeight:                @baseHeight * 4; // 32px
@baseTitleHeight:              @baseHeight * 5; // 40px

// Component width
@baseWidth:                    8px;
@baseIconWidth:                @baseWidth * 2; // 16px
@baseButtonWidth:              @baseWidth * 3; // 24px
@baseBarWidth:                 @baseWidth * 4; // 32px

// -------------------------------------
// Component sizing
// -------------------------------------
// Based on 14px font-size and 20px line-height
@fontSizeXLarge:               ceil(@baseFontSize * 1.25); // 18px
@fontSizeLarge:                floor(@baseFontSize * 1.15); // 16px
@fontSizeMedium:               ceil(@baseFontSize * 0.85); // 12px
@fontSizeSmall:                floor(@baseFontSize * 0.8); // 11px
@fontSizeXSmall:               ceil(@baseFontSize * 0.7); // 10px



@baseBorderRadius:             4px;
@borderRadiusLarge:            6px;
@borderRadiusSmall:            3px;

@basePopupZIndex:              88000;

// -------------------------------------
// Component Basic Coloring

// -------------------------------------
// Font color
@baseTextColor:                #000000;
@textColorGray:                #555555;
@textColorGrayDark:            #363636;
@textColorGrayLight:           #636363;
@textColorBlue:                #2184BA;
@textColorGreen:               #46A546;
@textColorOrange:              #F7941D;

// Border color
@baseBorderColor:              #CFCFCF;

// Background color
@baseBackgroundColor:          #FFFFFF;

// Gradient background
@baseGradientStart:            #FEFEFE;
@baseGradientEnd:              #EEEEEE;

// -------------------------------------
// Icon font color (used for font-awesome)
// -------------------------------------
@iconColor:                    #636363;
@iconHoverColor:               #636363;
@iconDisabledColor:            #AAAAAA;

// -------------------------------------
// Button (used for button, combobutton)
// -------------------------------------
@buttonBorderColor:            #A9A9A9;
@buttonGradientStart:          #FEFEFE;
@buttonGradientEnd:            #EEEEEE;

// -------------------------------------
// Input (used for textbox, intbox, spinner, ...)
// -------------------------------------
@inputBorderColor:             @baseBorderColor;
@inputBackgroundColor:         @baseBackgroundColor;

// -------------------------------------
// Mesh Table (used for grid, listbox, tree, biglistbox)
// -------------------------------------
@meshTitleBorderColor:         @baseBorderColor;
@meshContentBorderColor:       #FFFFFF;
@meshBackgroundColor:          #FFFFFF;
@meshStripeBackgroundColor:    #F7F7F7;
@meshFootBackgroundColor:      #FAFAFA;
@meshTitleHoverStart:          #F2F9FE;
@meshTitleHoverEnd:            #D6F0FD;
@meshContentHoverStart:        #F2F9FE;
@meshContentHoverEnd:          #D6F0FD;
@meshAutoPagingRowHeight:      32px;

// -------------------------------------
// Component State
// -------------------------------------
// Active
@activeColor:                  @baseTextColor;
@activeBorderColor:            #499EB3;
@activeBackgroundColor:        #86E2F9;
@activeGradientStart:          #C3F5FE;
@activeGradientEnd:            #86E2F9;

// Focus
@focusColor:                   @baseTextColor;
//@focusBorderColor:             #00B9FF;
@focusBackgroundColor:         @baseGradientEnd;
@focusGradientStart:           @baseGradientStart;
@focusGradientEnd:             @baseGradientEnd;

// Hover
@hoverColor:                   @textColorGrayLight;
@hoverBorderColor:             #8FB9D0;
@hoverBackgroundColor:         #D6F0FD;
@hoverGradientStart:           #F2F9FE;
@hoverGradientEnd:             #D6F0FD;

// Disabled
@disabledColor:                #AAAAAA;
@disabledBackgroundColor:      #F0F0F0;
@disabledOpacity:              0.6;

// Invalid
@invalidBorderColor:           #DD7777;

// Read-only
@readonlyBorderColor:          #E6E6E6;
@readonlyBackgroundColor:      #EEEEEE;

// Selected (used on listbox, tree, comboitem)
@selectedColor:                @textColorGrayLight;
@selectedBorderColor:          @baseBorderColor;
@selectedBackgroundColor:      #BEE7FC;
@selectedGradientStart:        #E5F4FB;
@selectedGradientEnd:          #D3EDFA;

// Selected Hover (used on listbox, tree, comboitem)
@selectedHoverColor:           @textColorGrayLight;
@selectedHoverBorderColor:     @baseBorderColor;
@selectedHoverBackgroundColor: #C5E7F8;
@selectedHoverGradientStart:   #CFEBF8;
@selectedHoverGradientEnd:     #A5DAF5;

// Checked (used on menuitem, listbox, tree, toolbarbutton)
@checkedColor:                 #2184BA;
@checkedBorderColor:           #8E8F8F;
@checkedBackgroundColor:       #F8F8F8;
@checkedGradientStart:         #F4FAFD;
@checkedGradientEnd:           #E2EFF6;

// Collapsed (used on Borderlayout)
@collapsedBorderColor:         @baseBorderColor;
@collapsedBackgroundColor:     #FCFCFC;

// -------------------------------------
// Component independent variables
// -------------------------------------


// scrollbar
@scrollbarWidth:               16px;
@scrollbarHeight:              16px;
@scrollbarBorderColor:         #838383;
@scrollbarBackgroundColor:     #DDDDDD;
@scrollbarGradientStart:       #FFFFFF;
@scrollbarGradientEnd:         #CFCFCF;

// drag and drop
@dragColor:                    #FFFFFF;
@dragBackgroundColor:          #E0EAF0;
@dragHoverBackgroundColor:     #ADD2FF;
@dragAllowBorderColor:         #11AA33;
@dragAllowBackgroundColor:     #11AA33;
@dragDisAllowBorderColor:      #C13634;
@dragDisAllowBackgroundColor:  #C13634;

// splitter (hbox, vbox, borderlayout)
@splitterSize:                 8px;
@splitterGradientStart:        #FDFDFD;
@splitterGradientEnd:          #F1F1F1;

// calendar
@calendarTitleColor:           @textColorGrayLight;
@calendarTitleHoverColor:      @textColorGrayLight;
@calendarCellColor:            @textColorGrayLight;
@calendarSelectedColor:        #008BB6;
@calendarSelectedHoverColor:   #008BB6;
@weekendColor:                 @textColorOrange;
@weekendBackgroundColor:       #F2F2F2;
@weekColor:                    @textColorGrayLight;
@weekofyearColor:              #FFFFFF;
@weekofyearBackgroundColor:    #636363;

// popup
@popupBorderColor:             @baseBorderColor;
@popupBackgroundColor:         @baseBackgroundColor;
@popupGradientStart:           @baseBackgroundColor;
@popupGradientEnd:             #F5F5F5;

// group (group, listgroup)
@groupGradientStart:           #FFFFFF;
@groupGradientEnd:             #E9F2FB;

// paging
@pagingColor:                  @textColorBlue;
@pagingSelectedColor:          @textColorGrayDark;
@pagingBorderColor:            @baseBorderColor;
@pagingActiveBorderColor:      #A9A9A9;
@pagingBackgroundColor:        #FAFAFA;
@pagingSelectedBackgroundColor:#E6E6E6;

// slider
@sliderBorderColor:            @baseBorderColor;
@sliderActiveBorderColor:      #838383;

// errorbox (input constraint)
@errorboxColor:                #990000;
@errorboxBorderColor:          #990000;
@errorboxBackgroundColor:      #FFEEEE;
//@errorboxBackgroundColor:	rgba(255, 150, 150, 0.6);

// notification
@notificationInfoColor:        rgba(33, 155, 166, 0.88);
@notificationWarningColor:     rgba(234, 67, 23, 0.88);
@notificationErrorColor:       rgba(190, 0, 5, 0.88);
@notificationArrowColor:       rgba(51, 51, 51, 0.9);
@notificationInfoColorIE8:     rgb(33, 155, 166);
@notificationWarningColorIE8:  rgb(234, 67, 23);
@notificationErrorColorIE8:    rgb(190, 0, 5);
@notificationArrowColorIE8:    rgb(51, 51, 51);

// progressmeter
@progressmeterGradientStart:   #E8F6FD;
@progressmeterGradientEnd:     #C6E9FA;



// tabbox
@tabSelectedBackgroundColor:   #FFFFFF;

// panel
@panelBorderColor:             #9C9C9C;
@panelBackgroundColor:         #E1EDF4;
@panelBodyBackground:          #F0F6F9;

// menu
@menuImageSize:                16px;
@menuActiveBorderColorTR:      #838383;
@menuActiveBorderColorBL:      #B6B6B6;
@menuPopupBackground:          #FAFAFA;
@menuSeparatorBorderColor:     #838383;
@menuSeparatorBackgroundColor: #B8B8B8;
@menuPopupSeparatorBorder:     #FFFFFF;
@menuPopupSeparatorBackground: #E0E0E0;

// navbar
@navImageSize:                 16px;
@navColor:                     #333333;
@navBorderColor:               #F4F4F3;
@navBackgroundColor:           #FFFFFF; //first level, each level is 3% darker (darken(@navBackgroundColor, 3 * level));
@navHoverBackgroundColor:      #E8E8E8;
@navSelectedColor:             #FFFFFF;
@navSelectedBackgroundColor:   #372F2B;
@navSeparatorColor:            #838383;
@navCollapsedWidth:            32px;

// colorbox
@colorboxBorderColor:          #9C9C9C;

// chosenbox
@chosenboxItemBorderColor:     #B3B3B3;
@chosenboxCreateIconColor:     @textColorGreen;

// biglistbox
@biglistboxBackgroundColor:    #F0F0F0;
@biglistboxFrozenBackground:   #E0E0E0;

// mesh for ie8
@meshBackgroundColorIE8:              #F5F5F5;
@meshHoverBackgroundColorIE8:         #E5F7FF;
@meshSelectedBackgroundColorIE8:      #E5F7FF;
@meshSelectedHoverBackgroundColorIE8: #D9F2FF;
@meshGroupBackgroundColorIE8:         #EDF6FF;
@meshGroupFooterBackgroundColorIE8:   #F2F9FF;
