<zk  xmlns:x="xhtml" xmlns:h="http://www.w3.org/1999/xhtml">
	<style>
		.blueLabel{
			font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
			color:#337ab7;
			font-weight:bold;
			font-size:16;
			}
		.a:link{
			text-decoration: none; 
		}
		.greyLabel{
			font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
			color:#333333; 
			font-size:14;
			font-weight:bold;
			}
	</style>
	<hbox width="100%">
		<hbox hflex="1" pack="start" height="45px" align="center"> 
			<separator width="100px"/>
			<label value="Copyright © 2018-2019" sclass="greyLabel"/>
			<separator />
			<h:a href="https://jasaraharja.co.id/">
			<label value="Jasaraharja" sclass="blueLabel"/>
			</h:a>
			<separator />
			<label value="All rights reserved." sclass="greyLabel"/>
		</hbox>
		<hbox hflex="1" pack="end" height="45px" align="center">
			<label value="Version" sclass="greyLabel"/>
			<separator />
			4.01a
			<separator width="100px"/>
		</hbox>
	</hbox>
</zk>