<?xml version="1.0" encoding="UTF-8"?>
<?page id="login" title="DASI-JR [login]"?>
<?link rel="shortcut icon" type="image/x-icon" href="/images/LOGO-JR.png"?>
<?link rel="icon" type="image/x-icon" href="/images/LOGO-JR.png"?>
<?link href="/css/fonts.css" rel="stylesheet" type="text/css"?>
<?link href="/css/index.css" rel="stylesheet" type="text/css"?>
<?init class="common.util.loginChecker"?>

<zk>
    <style>
        .z-label.titleBold{
        font-size: 35px;
        font-weight: bold !important;
        text-align: center;
        margin-bottom: 25px;
        }
        .z-label.titleLogin{
        font-size: 35px;
        font-weight: normal;
        text-align: center;
        margin-bottom: 25px;
        }

        .zk-label.loginFont{
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
        color:#666;
        }

        .z-textbox.loginText{
        color:#666;
        }
    </style>

    <hbox width="100%" height="100%" pack="center" align="center"
          style="background:#D2D6DE; min-height:150px;">


        <vbox>
            <hbox pack="center" align="center" width="100%">
                <label sclass="titleBold" value="DASI"/>
                <separator/>
                <label sclass="titleLogin" value="JR"/>
            </hbox>
            <separator height="20px"/>
            <vbox apply="org.zkoss.bind.BindComposer"
                  viewModel="@id('vm') @init('ui.LoginVmd')"
                  form="@id('fx') @init(vm.formMaster) @load(vm.loginData) @save(vm.loginData, before='login')"
                  height="220px" pack="center" align="center"
                  style="border-radius: 10px 10px 0 0;
						background:#fff;
						-webkit-border-radius: 5px 5px 0 0;">

                <!--  Main Content -->
                <hbox height="32px" width="100%" pack="center"
                      align="end" style="color:#666;">
                    <label sclass="loginFont" value="Masukkan akses domain untuk Login"/>
                </hbox>
                <hbox onCreate="username.focus()" pack="center"
                      align="center" height="155px" width="300px"
                      style=" background:#ffffff">
                    <vbox width="100%" align="center" pack="center">
                        <hbox>
                            <vbox>
                                <hbox pack="center" style="color:#666">
                                    <vbox width="200px">
                                        <textbox sclass="loginText"
                                                 constraint="no empty" autoUpper="false"
                                                 value="@bind(vm.loginData.login)" id="username"
                                                 placeholder="Username" onOK="password.focus()"
                                                 width="200px">
                                        </textbox>
                                    </vbox>
                                    <span class="glyphicon glyphicon-lock"/>
                                </hbox>
                                <hbox align="center" style="color:#666">
                                    <vbox width="200px">
                                        <textbox
                                                id="password" autoUpper="false"
                                                constraint="no empty"
                                                placeholder="password" sclass="loginText"
                                                value="@bind(fx.password)" onOK="@command('login')"
                                                type="password" width="200px"/>
                                    </vbox>
                                    <span class="glyphicon glyphicon-envelope"/>
                                </hbox>
                                <space/>
                                <hbox width="200px" pack="center">
                                    <!-- 									<vbox width="50px"> -->
                                    <!-- 										<label value=" " /> -->
                                    <!-- 									</vbox> -->
                                    <button autodisable="self" width="80px" label="Login"
                                            onClick="@command('login')"/>
                                </hbox>
                            </vbox>
                        </hbox>
                    </vbox>
                </hbox>

                <vbox style="color:#fff; font-size: 8px;" width="100%"
                      pack="center" align="center">
                    <!-- 					<label value="Copyrights 2015. All Rights Reserved." style="color:#fff; font-size: 11px;" /> -->
                </vbox>
            </vbox>
            <separator height="70px"/>
        </vbox>
    </hbox>
</zk>