<zk>
<vlayout width="100%" apply="org.zkoss.bind.BindComposer" style="border:1px solid black"
	viewModel="@id('vm') @init('ui.report.ReportDasiVmd')">
	
	<separator height="12px" width="100%" />
	
	<window title="Parameter Laporan DASI JR" width="100%" border="normal"
		sclass="greenWindow">
		
		<button label="reset" iconSclass="z-icon-circle" onClick="@command('reset')"/>
		<vbox width="100%" style="overflow:auto">
			
		
		<hbox width="100%">
			<hbox width="50%">
				<box width="120px" pack="end">
					<label value="Sifat Laka " />
				</box>
				<combobox width="250px" model="@load(vm.listSifatKecelakaan)" autodrop="true"
					selectedItem="@bind(vm.selectedSifatLaka)">
					<template name="model">
						<comboitem value="@bind(each.rvLowValue)" label="@load(each.rvMeaning)"/>
					</template>
				</combobox>
			</hbox>
			<hbox width="50%">
				<box width="120px" pack="end">
					<label value="Kasus Laka " />
				</box>
				<combobox width="250px" model="@load(vm.listKasusKecelakaan)" autodrop="true"
					selectedItem="@bind(vm.selectedKasusKecelakaan)">
					<template name="model">
						<comboitem value="@bind(each.rvLowValue)" label="@load(each.rvMeaning)"/>
					</template>
				</combobox>
			</hbox>
		</hbox>
		
		<hbox width="100%">
			<hbox width="50%">
				<box width="120px" pack="end">
					<label value="Status Proses" />
				</box>
				<combobox width="250px" model="@load(vm.listStatusProses)" autodrop="true"
					selectedItem="@bind(vm.selectedStatusProses)">
					<template name="model">
						<comboitem value="@bind(each.rvLowValue)" label="@load(each.rvMeaning)"/>
					</template>
				</combobox>
			</hbox>
			<hbox width="50%">
				<box width="120px" pack="end">
					<label value="Jaminan " />
				</box>
				<combobox width="250px" model="@load(vm.listJaminan)" autodrop="true"
					selectedItem="@bind(vm.selectedJaminan)">
					<template name="model">
						<comboitem value="@bind(each.kodeJaminan)" label="@load(each.deskripsi)"/>
					</template>
				</combobox>
			</hbox>
		</hbox>	
		
		<hbox width="100%">
			<hbox width="50%">
				<box width="120px" pack="end">
					<label value="Asal Berkas" />
				</box>
				<combobox width="250px" model="@load(vm.listAsalBerkas)" autodrop="true"
					selectedItem="@bind(vm.selectedAsalBerkas)">
					<template name="model">
						<comboitem value="@bind(each.kodeInstansi)" label="@load(each.deskripsi)"/>
					</template>
				</combobox>
			</hbox>
			<hbox width="50%">
				<box width="120px" pack="end">
					<label value="Tahun Penerimaan" />
				</box>
				<combobox width="250px" model="@load(vm.listThnPenerimaan)" autodrop="true"
					selectedItem="@bind(vm.selectedThnPenerimaan)">
					<template name="model">
						<comboitem value="@bind(each)" label="@load(each)"/>
					</template>
				</combobox>
			</hbox>
		</hbox>	
		
		
		<hbox width="100%">
			<hbox width="50%">
				<box width="120px" pack="end">
					<label value="Tahun Pengajuan" />
				</box>
				<combobox width="250px" model="@load(vm.listThnPengajuan)" autodrop="true"
					selectedItem="@bind(vm.selectedThnPengajuan)">
					<template name="model">
						<comboitem value="@bind(each)" label="@load(each)"/>
					</template>
				</combobox>
			</hbox>
			<hbox width="50%">
				<box width="120px" pack="end">
					<label value="Tahun Penyelesaian" />
				</box>
				<combobox width="250px" model="@load(vm.listThnPenyelesaian)" autodrop="true"
					selectedItem="@bind(vm.selectedThnPenyelesaian)">
					<template name="model">
						<comboitem value="@bind(each)" label="@load(each)"/>
					</template>
				</combobox>
			</hbox>
		</hbox>	
		
		
		
		</vbox>
		
		</window>
		
		<window title="Daftar Laporan DASI JR" width="100%" border="normal" >
		
		<vbox width="100%" style="overflow:auto; border:1px solid black" height="100%" >
			<hbox>
				<label value="Tampilkan" />
				<combobox readonly="true" model="@load(vm.listSize)" selectedItem="@bind(vm.pageSize)" width="50px" value="@load(vm.pageSize)">
					<template name="model">
						<comboitem value="@load(each)" label="@load(each)"/>
					</template>
<!-- 					<comboitem label="5" value="5"/> -->
<!-- 					<comboitem label="10" value="10"/> -->
<!-- 					<comboitem label="15" value="15"/> -->
<!-- 					<comboitem label="20" value="20"/> -->
				</combobox>
				<label value="Baris Data" />
			</hbox>
			<listbox model="@load(vm.listDto)" 
				style="overflow:auto" emptyMessage="Data Not Found" mold="paging"
				pageSize="@bind(vm.pageSize)" pagingPosition="top"
				sizedByContent="false">
				<listhead>
					<listheader label="#" width="20px"/>
					<listheader label="NO" width="25px"/>
					<listheader label="Nama Laporan" 
						sort="auto(name) " />
					<listheader label="#" width="180px"/>
				</listhead>
				<template name="model">
					<listitem >
						<listcell />
						<listcell label="${forEachStatus.index+1}" />
						<listcell label="@load(each.name)" />
<!-- 						<listcell -->
<!-- 							label="@load(each.tglKejadian) @converter('formatedDate' , format='dd/MM/yyyy H:mm')" /> -->
						<listcell>
<!-- 							<button label="Cetak Laporan" -->
<!-- 								onClick="@command('cetakLaporan',item=each)"> -->
<!-- 							</button> -->
							<button label="Cetak Laporan" onClick="@command('cetakLaporan', popup='/report/popUpReport.zul', detailHandler='reportHandler', item=each)"/>
						</listcell>
					</listitem>
				</template>
			</listbox>
			
		</vbox>
		
	</window>



</vlayout>
</zk>