<?page title="Data Pengajuan Santunan" contentType="text/html;charset=UTF-8"?>
<zk xmlns:w="client">
	<window id="popupPengajuanSantunan" width="90%" height="90%"
		mode="modal" style="overflow:auto" closable="true"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('ui.operasional.OpPlPengajuanSantunanVmd')">
		<borderlayout height="100%">
			<north sclass="borderless">
				<div sclass="page-header">
					<!-- TITLE AREA -->
					<hbox width="100%">
						<include
							src="WEB-INF/template/toolbarTitleDetail.zul" />
						<!-- TITLE AREA -->
						<separator spacing="2px" />
						<hbox hflex="2" pack="end">
							<button sclass="btn-lov"
								iconSclass="z-icon-times"
								onClick="@command('tutup',window=popupPengajuanSantunan)" />
						</hbox>
					</hbox>
				</div>
			</north>

			<!-- CONTENT AREA START -->
			<center sclass="borderless" autoscroll="true"
				style="overflow:auto">
				<div style="overflow:auto">
					<groupbox style="background-color:#00C0EF">
						<hbox width="100%">
							<vbox pack="start" hflex="2">
								<hbox>
									<vbox width="120px">
										<label value="Jenis Pengajuan"
											style="color:white" />
									</vbox>
									<vbox>
										<combobox width="250px"
											model="@bind(vm.listJenisPembayaran)"
											selectedItem="@bind(vm.jenisPembayaranDto)" 
											readonly="true" buttonVisible="false">
											<template name="model">
												<comboitem label="@load(each.rvMeaning)"/>
											</template>
										</combobox>

<!-- 										<textbox -->
<!-- 											value="@load(vm.plPengajuanSantunanDto.kodePengajuan)" -->
<!-- 											readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)" -->
<!-- 											width="200px" /> -->
									</vbox>
								</hbox>
							</vbox>
							<vbox pack="center" hflex="2">
								<hbox>
									<vbox width="120px">
										<label value="No Berkas"
											style="color:white" />
									</vbox>
									<vbox>
										<textbox
											w:onBind="jq(this).mask('9-999-99-99-99-99-9999');"
											value="@bind(vm.plPengajuanSantunanDto.noBerkas)"
											width="200px"
											readonly="@load((vm.pageInfo.editMode || vm.pageInfo.editDetailMode) and vm.editBPM)">
										</textbox>
									</vbox>
								</hbox>
								<hbox>
									<vbox width="120px">
										<label value="Tgl Penerimaan"
											style="color:white" />
									</vbox>
									<vbox>
										<hlayout>
											<datebox
												placeholder="dd/mm/yyyy" format="dd/MM/yyyy"
												value="@bind(vm.tglPenerimaan)"
												readonly="@load(vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
											</datebox>
											<timebox width="80px"
												format="HH:mm" value="@bind(vm.jamPenerimaan)"
												buttonVisible="true">
											</timebox>
										</hlayout>
									</vbox>
								</hbox>
							</vbox>
							<vbox pack="end" hflex="2">
								<hbox>
									<vbox width="120px">
										<label value="Status Proses"
											style="color:white" />
									</vbox>
									<vbox>
										<combobox buttonVisible="false"
											model="@load(vm.listStatusProses)"
											selectedItem="@bind(vm.statusProsesDto)"
											readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
											<template name="model">
												<comboitem
													label="@load(each.rvMeaning)" />
											</template>
										</combobox>
									</vbox>
								</hbox>
								<hbox>
									<vbox width="120px">
										<label value="Kantor"
											style="color:white" />
									</vbox>
									<vbox>
										<textbox
											value="@bind(vm.plPengajuanSantunanDto.kodeNamaKantor)"
											width="250px"
											readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
										</textbox>

									</vbox>
								</hbox>
							</vbox>
						</hbox>
						<separator height="10px" />
						<!-- 							<groupbox style="background:red"> -->
						<!-- 								<hbox> -->
						<!-- 									<label -->
						<!-- 										value="Peringatan : Data Kecelakaan Sudah Kadaluarsa !" -->
						<!-- 										style="color:white" /> -->
						<!-- 								</hbox> -->
						<!-- 							</groupbox> -->
					</groupbox>
					<separator height="10px" />
					<tabbox id="tabbox">
						<tabs id="tabs">
							<tab id="A" label="Data Pengajuan" />
							<tab id="B" label="Kelengkapan Dokumen"
								onClick="@command('tabKelengkapanBerkas')" />
						</tabs>
						<tabpanels>
							<tabpanel style="overflow:auto">
								<hbox>
									<vbox width="400px">
										<groupbox>
											<vlayout>
												<groupbox>
													<label
														value="Data Korban Kecelakaan" />
												</groupbox>
												<groupbox>
													<grid>
														<columns>
															<column
																width="100px" />
															<column
																width="300px" />
														</columns>
														<rows>
															<row>
																<label
																	value="Nama Korban" />
																<textbox
																	value="@bind(vm.plDataKecelakaanDto.namaKorban)"
																	width="250px"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
																</textbox>
															</row>
															<row>
																<label
																	value="Cidera" />
																<textbox
																	value="@bind(vm.plDataKecelakaanDto.cidera)"
																	width="250px"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
																</textbox>
															</row>
															<row>
																<label
																	value="No. Identitas" />
																<hlayout>
																	<combobox
																		width="80px" model="@load(vm.listJenisIdentitasDto)"
																		autodrop="true"
																		value="@bind(vm.plDataKecelakaanDto.jenisIdentitas)"
																		readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
																		<template
																			name="model">
																			<comboitem
																				label="@bind(each.rvMeaning)"
																				value="@bind(each.rvLowValue)" />
																		</template>
																	</combobox>
																	<textbox
																		readonly="true"
																		value="@bind(vm.plDataKecelakaanDto.noIdentitas)"
																		width="150px" />
																</hlayout>
															</row>
															<row>
																<label
																	value="Status" />
																<textbox
																	value="@bind(vm.plDataKecelakaanDto.status)"
																	width="250px"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
																</textbox>
															</row>
															<row>
																<label
																	value="Alamat " />
																<textbox
																	width="250px" placeholder="Provinsi"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)"
																	value="@bind(vm.plDataKecelakaanDto.provinsiDesc)" />
															</row>
															<row>
																<label
																	value=" " />
																<textbox
																	width="250px"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)"
																	placeholder="Kabupaten/Kota"
																	value="@bind(vm.plDataKecelakaanDto.kabKotaDesc)" />
															</row>
															<row>
																<label
																	value=" " />
																<textbox
																	width="250px"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)"
																	placeholder="Kecamatan"
																	value="@bind(vm.plDataKecelakaanDto.camatDesc)" />
															</row>
															<row>
																<separator
																	width="50px">
																</separator>
																<textbox
																	rows="4" cols="30"
																	value="@bind(vm.plDataKecelakaanDto.alamat)"
																	width="250px"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
																</textbox>
															</row>
															<row>
																<label
																	value="No Telp" />
																<textbox
																	width="250px"
																	value="@bind(vm.plDataKecelakaanDto.noTelp)" />
															</row>
															<row>
																<label
																	value="No LP" />
																<textbox
																	width="250px"
																	value="@bind(vm.plDataKecelakaanDto.noLaporanPolisi)"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
																</textbox>
															</row>
															<row>
																<label
																	value="Tgl Laka" />
																<textbox
																	width="250px"
																	value="@bind(vm.plDataKecelakaanDto.tglKejadian)"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
																</textbox>
															</row>
															<row>
																<label
																	value="Kasus" />
																<textbox
																	width="250px"
																	value="@bind(vm.plDataKecelakaanDto.kasusKecelakaanDesc)"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
																</textbox>
															</row>
															<row>
																<label
																	value="Keterangan" />
																<textbox
																	rows="4" cols="50" width="250px"
																	value="@bind(vm.plDataKecelakaanDto.deskripsiKecelakaan)"
																	readonly="@load(vm.pageInfo.addDetailMode || vm.pageInfo.editMode || vm.pageInfo.editDetailMode)">
																</textbox>
															</row>
														</rows>
													</grid>
												</groupbox>
											</vlayout>
										</groupbox>
									</vbox>
									<vbox>
										<tabbox id="tb" width="100%"
											height="380px" mold="accordion">
											<tabs>
												<tab
													label="Data Pemohon" />
												<tab
													label="Data Pengajuan" />
											</tabs>
											<tabpanels>
												<tabpanel>
													<grid>
														<columns>
															<column
																width="150px">
															</column>
															<column
																width="450px">
															</column>
														</columns>
														<rows>
															<row>
																<label
																	value="Hub. Pemohon">
																</label>
																<selectbox
																	width="250px" model="@bind(vm.listStatusHubungan)"
																	selectedItem="@bind(vm.statusHubunganDto)"
																	onSelect="@command('checkHubPemohon')">
																	<template
																		name="model">
																		<label
																			value="@bind(each.rvMeaning)" />
																	</template>
																</selectbox>

															</row>
															<row
																visible="@bind(vm.statusHubunganDto.rvLowValue eq '22' || vm.statusHubunganDto.rvLowValue eq '23'||vm.statusHubunganDto.rvLowValue eq '24' || vm.statusHubunganDto.rvLowValue eq '25')">
																<label
																	value="Tgl Perawatan" />
																<hlayout>
																	<datebox
																		value="@bind(vm.plAdditionalDescDto.tglRawatAwal)">
																	</datebox>
																	<label
																		value="s.d" />
																	<datebox
																		value="@bind(vm.plAdditionalDescDto.tglRawatAkhir)">
																	</datebox>
																</hlayout>
															</row>

															<row>
																<label
																	value="No. Identitas">
																</label>
																<hlayout>
																	<selectbox
																		width="80px" model="@bind(vm.listJenisIdentitasDto)"
																		selectedItem="@bind(vm.identitasDto)" onSelect="@command('cekJenisIdentitas')">
																		<template
																			name="model">
																			<label 
																				value="@bind(each.rvMeaning)" />
																		</template>
																	</selectbox>
																	<separator
																		width="5px" />
																	<textbox
																		width="155px"
																		value="@bind(vm.plPengajuanSantunanDto.noIdentitas)" />
																	<button
																		onClick="@command('cekKtp')"
																		visible="@load(vm.cekKtpButton)"
																		iconSclass="z-icon-search" />
																	<!-- 																	<separator -->
																	<!-- 																		width="5px" /> -->
																	<!-- 																	<label -->
																	<!-- 																		value="@load(vm.validasiIdentitas)" -->
																	<!-- 																		style="@load(vm.styleValidasiIdentitas)" /> -->
																</hlayout>
															</row>

															<row>
																<label
																	value="Nama Pemohon">
																</label>
																<textbox
																	width="250px"
																	value="@bind(vm.plPengajuanSantunanDto.namaPemohon)">
																</textbox>
															</row>
															<row>
																<label
																	value="Alamat" />
																<selectbox
																	model="@load(vm.listProvinsiDto)" width="250px"
																	selectedItem="@bind(vm.provinsiDto)"
																	onSelect="@command('getKabkota')">
																	<template
																		name="model">
																		<label
																			value="@load(each.kodeNamaProv)" />
																	</template>
																</selectbox>
															</row>
															<row>
																<label
																	value=" " />
																<selectbox
																	model="@load(vm.listKabkotaDto)" width="250px"
																	selectedItem="@bind(vm.kabKotaDto)"
																	onSelect="@command('getCamat')">
																	<template
																		name="model">
																		<label
																			value="@load(each.kodeNamaKabKota)" />
																	</template>
																</selectbox>
															</row>
															<row>
																<label
																	value=" " />
																<selectbox
																	model="@load(vm.listCamatDto)" width="250px"
																	selectedItem="@bind(vm.camatDto)">
																	<template
																		name="model">
																		<label
																			value="@load(each.kodeNamaCamat)" />
																	</template>
																</selectbox>
															</row>
															<row>
																<separator
																	width="50px">
																</separator>
																<textbox
																	rows="5" width="250px"
																	value="@bind(vm.plPengajuanSantunanDto.alamatPemohon)">
																</textbox>
															</row>
															<row>
																<label
																	value="No. Telp">
																</label>
																<textbox
																	constraint="/[0-9]*/" width="250px"
																	value="@bind(vm.plPengajuanSantunanDto.idGuid)" />
															</row>
														</rows>
													</grid>
												</tabpanel>
												<tabpanel>
													<hbox>
														<vbox>
															<grid>
																<columns>
																	<column
																		width="150px">
																	</column>
																	<column
																		width="320px">
																	</column>
																</columns>
																<rows>
																	<row>
																		<label
																			value="Jenis Jaminan" />
																		<combobox
																			buttonVisible="false" width="250px"
																			model="@load(vm.listJaminanDto)"
																			selectedItem="@bind(vm.plJaminanDto)"
																			readonly="true">
																			<template
																				name="model">
																				<comboitem
																					label="@bind(each.deskripsi)" />
																			</template>
																		</combobox>
																	</row>
																	<row>
																		<label
																			value="Jaminan Ganda" />
																		<checkbox
																			checked="@bind(vm.jaminanGandaFlag)" />
																	</row>
																	<row>
																		<label
																			value="Cidera Diajukan">
																		</label>
																		<selectbox
																			disabled="@load(vm.pageInfo.editMode)" width="250px"
																			model="@load(vm.listSifatCidera)"
																			selectedItem="@bind(vm.sifatCideraDto)"
																			onSelect="@command('rupiahPengajuan')">
																			<template
																				name="model">
																				<label
																					value="@bind(each.sifatCidera)" />
																			</template>
																		</selectbox>
																	</row>
																	<row
																		visible="@bind(vm.sifatCideraDto.rvLowValue eq '01' || vm.sifatCideraDto.rvLowValue eq '05')">

																		<label
																			value="Tgl Meninggal Dunia" />
																		<datebox
																			value="@bind(vm.plAdditionalDescDto.tglMd)"
																			width="250px">
																		</datebox>
																	</row>
																	<row>
																		<label
																			value="Ditangani RS">
																		</label>
																		<combobox
																			width="300px" model="@load(vm.listRs)"
																			buttonVisible="false" autodrop="true"
																			selectedItem="@bind(vm.plRumahSakitDto)"
																			autocomplete="false" instant="true"
																			onChange="@command('searchRs', item=self.value)">
																			<template
																				name="model">
																				<comboitem
																					label="@bind(each.kodeNamaRs)"
																					value="@bind(each.kodeRumahsakit)" />
																			</template>
																		</combobox>
																	</row>
																	<row>
																		<label
																			value="Jenis Pembayaran" />
																		<selectbox
																			width="250px" model="@bind(vm.listJenisPembayaran)"
																			selectedItem="@bind(vm.jenisPembayaranDto)"
																			disabled="true">
																			<template
																				name="model">
																				<label
																					value="@bind(each.rvMeaning)" />
																			</template>
																		</selectbox>
																	</row>
																	<row>
																		<hlayout>

																			<label
																				value="Rupiah Pengajuan">
																			</label>
																		</hlayout>
																		<hlayout>
																			<doublebox
																				width="200px" format=",###.#"
																				value="@bind(vm.plPengajuanSantunanDto.jumlahPengajuanMeninggal)" />
																			<textbox
																				width="35px" value="@load(vm.cideraKode)"
																				readonly="true">
																			</textbox>
																		</hlayout>
																	</row>
																	<row>
																		<label></label>
																		<hlayout>
																			<doublebox
																				width="200px" format=",###.#"
																				disabled="@load(vm.modeDisableBiaya2)"
																				value="@bind(vm.plPengajuanSantunanDto.jumlahPengajuanLukaluka)" />
																			<textbox
																				width="35px" value="@load(vm.cideraKode2)"
																				readonly="true">
																			</textbox>
																		</hlayout>
																	</row>
																	<row>
																		<label></label>
																		<hlayout>
																			<doublebox
																				width="200px" format=",###.#"
																				value="@bind(vm.plPengajuanSantunanDto.jmlPengajuanAmbl)" />
																			<textbox
																				value="Ambulans" width="95px" readonly="true">
																			</textbox>
																		</hlayout>
																	</row>
																	<row>
																		<label></label>
																		<hlayout>
																			<doublebox
																				width="200px" format=",###.#"
																				value="@bind(vm.plPengajuanSantunanDto.jmlPengajuanP3k)" />
																			<textbox
																				value="P3K" width="95px" readonly="true">
																			</textbox>
																		</hlayout>
																	</row>
																	<row>
																		<hlayout>
																			<separator
																				width="200px" />
																			<label
																				value="Penguburan" />
																		</hlayout>
																	</row>
																	<row>
																		<hlayout>
																			<separator
																				width="200px" />
																			<label
																				value="Ambulan" />
																		</hlayout>
																	</row>
																</rows>
															</grid>
														</vbox>
														<vbox>
															<grid>
																<columns>
																	<column
																		width="100px" />
																	<column
																		width="200px" />
																</columns>
																<rows>
																	<row>
																		<label
																			value="" />
																		<label
																			value="Akumulasi Pembayaran" />
																	</row>
																	<row>
																		<label
																			value="Meninggal" />
																		<label
																			value="@bind(vm.biaya1)" />
																	</row>
																	<row>
																		<label
																			value="Luka-luka" />
																		<label
																			value="@bind(vm.biaya2)" />
																	</row>
																	<row>
																		<label
																			value="Cacat Tetap" />
																		<label
																			value="0" />
																	</row>
																	<row>
																		<label
																			value="Penguburan" />
																		<label
																			value="0" />
																	</row>
																	<row>
																		<label
																			value="Ambulans" />
																		<label
																			value="@load(vm.plPenyelesaianSantunanDto.jmlByrAmbl)" />
																	</row>
																	<row>
																		<label
																			value="P3K" />
																		<label
																			value="@load(vm.plPenyelesaianSantunanDto.jmlByrP3k)" />
																	</row>

																	<row>
																		<label
																			value="______________" />
																		<label
																			value="__________________________" />
																	</row>
																	<row>
																		<label
																			value="Total" />
																		<label
																			value="0" />
																	</row>
																</rows>
															</grid>
														</vbox>
													</hbox>
												</tabpanel>
											</tabpanels>
										</tabbox>
										<hbox width="100%">
											<hbox>
												<button
													disabled="@load(vm.disableSave)" label="Simpan"
													iconSclass="z-icon-save"
													onClick="@command('saveSantunan')" />
												<button
													disabled="@load(vm.disableDisposisi)"
													label="Disposisi Berkas" iconSclass="z-icon-file"
													onClick="@command('disposisiBerkas', popup='/WEB-INF/application-pages/operasionalDetail/Disposisi.zul',popupHandler='iniHandler')" />
											</hbox>
											<hbox pack="end"
												hflex="2">
												<button
													disabled="@load(vm.disableProsesSelanjutnya)"
													label="Proses Selanjutnya" iconSclass="z-icon-arrow-right"
													onClick="@command('prosesSelanjutnya')" />
												<!-- 												<button label="Keluar" -->
												<!-- 													style="background:#DD4B39" iconSclass="z-icon-times" -->
												<!-- 													onClick="@command('tutup',window=popupPengajuanSantunan)" /> -->
											</hbox>
										</hbox>
									</vbox>
								</hbox>
							</tabpanel>
							<tabpanel style="overflow:auto">
								<groupbox>
									<hlayout>
										<vbox>
											<hlayout>
												<label
													value="Tgl Terima" />
												<datebox
													value="@bind(vm.tglTerimaBerkas)" width="150px" />
											</hlayout>
											<listbox
												selectedItems="@bind(vm.listJenisDokumenDtoSelected)"
												sizedByContent="false"
												onCheckSelectAll="@command('checkAll')"
												model="@load(vm.listJenisDokumenDto)" multiple="true"
												checkmark="true" width="400px">
												<listhead>
													<listheader label=""
														width="35px">
														<!-- 														<checkbox -->
														<!-- 															onCheck="@command('selectAllDokumen', item2=each)" -->
														<!-- 															onClick="@command('changeValue')" /> -->
													</listheader>
													<listheader
														label="Pilih Kelengkapan Dokumen" />
												</listhead>
												<template
													name="model">
													<listitem>
														<listcell
															label="">
															<!-- 															<checkbox -->
															<!-- 																checked="@load(each.checkedJenisDomumen)" -->
															<!-- 																onCheck="@command('addToLampirans', item=each)" /> -->
														</listcell>
														<listcell
															label="@load(each.rvMeaning)" />
													</listitem>
												</template>
											</listbox>
										</vbox>
										<vbox>
											<separator height="150px" />
											<button label=">"
												onClick="@command('addDeskripsiLampiran')" />
										</vbox>
										<vbox>
											<listbox
												sizedByContent="false" width="600px"
												model="@load(vm.listKelengkapanBerkas)">
												<listhead>
													<listheader
														label="DESKRIPSI BERKAS" />
													<listheader
														label="Tgl Terima" width="120px" />
													<listheader
														label="#" width="50px" />
												</listhead>
												<template
													name="model">
													<listitem>
														<listcell
															label="@load(each.kodeBerkasDesc)" />
														<listcell
															label="@load(each.tglTerimaBerkas) @converter('formatedDate' , format='dd/MM/yyyy H:mm')" />
														<listcell>
															<button
																iconSclass="z-icon-trash-o" style="background:#DD4B39"
																onClick="@command('deleteListBerkas', item=each)" />
														</listcell>
													</listitem>
												</template>
											</listbox>
											<hbox width="100%">
												<hbox hflex="1">
													<button
														label="Cetak T.T Berkas" iconSclass="z-icon-print"
														onClick="@command('loaddong', item = each)" />
												</hbox>
												<hbox pack="end"
													hflex="1">
													<button
														iconSclass="z-icon-times" label="Hapus Semua Berkas"
														style="background:#DD4B39"
														onClick="@command('deleteAllBerkas')" />
												</hbox>
											</hbox>
										</vbox>
									</hlayout>
								</groupbox>
							</tabpanel>
						</tabpanels>
					</tabbox>
				</div>
			</center>
		</borderlayout>
	</window>
</zk>