<?page title="Proses Otorisasi" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk>
	<window id="popupProsesOtorisasi" width="65%" height="90%"
		style="overflow:auto" mode="modal" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('ui.operasional.OpOtorisasiVmd')">
		<borderlayout height="100%">
			<north sclass="borderless">
				<div sclass="page-header">
					<!-- TITLE AREA -->
					<hbox width="100%">
						<hbox hflex="2">
							<include
								src="WEB-INF/template/toolbarTitleDetail.zul" />
						</hbox>
						<hbox hflex="2" pack="end">
							<button sclass="btn-lov"
								iconSclass="z-icon-times"
								onClick="@command('back',window=popupProsesOtorisasi)"  />
						</hbox>
						<!-- TITLE AREA -->
						<separator spacing="2px" />
					</hbox>
				</div>
			</north>

			<!-- CONTENT AREA START -->
			<center sclass="borderless" autoscroll="true">
				<div>
					<vlayout spacing="15px">
						<groupbox>
							<hbox>
								<vbox>
									<grid>
										<columns>
											<column width="150px" />
											<column width="50px" />
											<column width="300px" />
										</columns>
										<rows>
											<row>
												<label
													value="No. Berkas" />
												<label value=":" />
												<label
													value="@load(vm.plPengajuanSantunanDto.noBerkas)" />
											</row>
											<row>
												<label
													value="Nama Korban" />
												<label value=":" />
												<label
													value="@load(vm.plPengajuanSantunanDto.nama)" />
											</row>
										</rows>
									</grid>
								</vbox>
								<vbox>
									<grid>
										<columns>
											<column width="120px" />
											<column width="200px" />
										</columns>
										<rows>
											<row>
												<label
													value="Status Proses" />
												<combobox
													buttonVisible="false" readonly="true"
													model="@load(vm.listStatusProses)"
													selectedItem="@bind(vm.statusProsesDto)">
													<template
														name="model">
														<comboitem
															label="@load(each.rvMeaning)" />
													</template>
												</combobox>
											</row>
										</rows>
									</grid>
								</vbox>
							</hbox>
							<!-- 								<groupbox style="background:red"> -->
							<!-- 									<hbox> -->
							<!-- 										<label -->
							<!-- 											value="Peringatan : Data Kecelakaan Sudah Kadaluarsa !" -->
							<!-- 											style="color:white" /> -->
							<!-- 									</hbox> -->
							<!-- 								</groupbox> -->
						</groupbox>
						<groupbox>
							<hbox>
								<vbox>
									<grid>
										<columns>
											<column width="150px" />
											<column width="50px" />
											<column width="300px" />
										</columns>
										<rows>
											<row>
												<label
													value="Kesimpulan" />
												<label value=":" />
												<selectbox
													disabled="@load(vm.disableKesimpulan)"
													model="@load(vm.listKesimpulanSementara)"
													selectedItem="@bind(vm.kesimpulanSementaraDto)">
													<template
														name="model">
														<label
															value="@load(each.rvMeaning)" />
													</template>
												</selectbox>
											</row>
											<row>
												<label
													value="Otorisasi" />
												<label value=":" />
												<selectbox
													model="@load(vm.listOtorisasiFlag)"
													onSelect="@command('checkOtorisasi')"
													selectedItem="@bind(vm.otorisasiFlagDto)">
													<template
														name="model">
														<label
															value="@load(each.rvMeaning)" />
													</template>
												</selectbox>
											</row>
											<row>
												<label
													value="Jenis Pembayaran" />
												<label value=":" />
												<selectbox
													disabled="@load(vm.disableJenisPembayaran)"
													model="@load(vm.listKodeJenisPembayaran)"
													selectedItem="@bind(vm.kodeJenisPembayaranDto)">
													<template
														name="model">
														<label
															value="@load(each.rvMeaning)" />
													</template>
												</selectbox>
											</row>
											<row>
												<label
													value="Tgl Pengajuan" />
												<label value=":" />
												<datebox
													format="dd/MM/yyyy HH:mm" width="150px"
													value="@bind(vm.plPengajuanSantunanDto.tglPengajuan)" />
											</row>
										</rows>
									</grid>
								</vbox>
							</hbox>
						</groupbox>

						<hbox>
							<vbox spacing="10px">
								<label
									value="Otorisasi DIBAYAR/RESTITUSI" />
								<groupbox>
									<hbox>
										<vbox>
											<grid>
												<columns>
													<column
														width="120px" />
													<column
														width="220px" />
													<column
														width="80px" />
												</columns>
												<rows>
													<row>
														<label
															value="Pembayaran" />
														<hlayout>
															<doublebox
																readonly="true" format=",###.#" width="100px"
																value="@load(vm.biaya1)" />
															<textbox
																readonly="true" width="80px"
																value="@load(vm.cideraKode)" />
														</hlayout>
														<label></label>
													</row>
													<row>
														<label></label>
														<hlayout>
															<doublebox
																readonly="true" format=",###.#" width="100px"
																value="@load(vm.biaya2)" />
															<textbox
																readonly="true" width="80px"
																value="@load(vm.cideraKode2)" />
														</hlayout>
														<label></label>
													</row>
													<row>
														<label></label>
														<hlayout>
															<doublebox
																readonly="true" format=",###.#" width="100px"
																value="@load(vm.plPenyelesaianSantunanDto.jmlByrAmbl)" />
															<textbox
																width="80px" value="Ambulans" readonly="true" />
														</hlayout>
														<label></label>
													</row>
													<row>
														<label></label>
														<hlayout>
															<doublebox
																readonly="true" format=",###.#" width="100px"
																value="@load(vm.plPenyelesaianSantunanDto.jmlByrP3k)" />
															<textbox
																readonly="true" width="80px" value="P3K" />
														</hlayout>
														<label></label>
													</row>
													<row>
														<label
															value="Total" />
														<label
															value="@load(c:formatNumber(vm.total, '#,###.##'))" />
														<label></label>
													</row>
													<row>
														<label />
														<label
															value="Akumulasi" />
														<label
															value="Total" />
													</row>
													<row>
														<label
															value="Meninggal Dunia" />
														<label
															value="@load(c:formatNumber(vm.akmMeninggal, '#,###.##'))" />
														<label
															value="@load(c:formatNumber(vm.totalMeninggal, '#,###.##'))" />
													</row>

													<row>
														<label
															value="Luka-luka" />
														<label
															value="@load(c:formatNumber(vm.akmLuka, '#,###.##'))" />
														<label
															value="@load(c:formatNumber(vm.totalLuka, '#,###.##'))" />
													</row>

													<row>
														<label
															value="Cacat Tetap" />
														<label
															value="@load(c:formatNumber(vm.akmCacat, '#,###.##'))" />
														<label
															value="@load(c:formatNumber(vm.totalCacat, '#,###.##'))" />
													</row>
													<row>
														<label
															value="Penguburan" />
														<label
															value="@load(c:formatNumber(vm.akmPenguburan, '#,###.##'))" />
														<label
															value="@load(c:formatNumber(vm.totalPenguburan, '#,###.##'))" />
													</row>
													<row>
														<label
															value="Ambulance" />
														<label
															value="@load(c:formatNumber(vm.akmAmbulance, '#,###.##'))" />
														<label
															value="@load(c:formatNumber(vm.totalAmbulance, '#,###.##'))" />
													</row>
													<row>
														<label
															value="P3K" />
														<label
															value="@load(c:formatNumber(vm.akmP3k, '#,###.##'))" />
														<label
															value="@load(c:formatNumber(vm.totalP3k, '#,###.##'))" />
													</row>
												</rows>
											</grid>
										</vbox>
									</hbox>
								</groupbox>
							</vbox>
							<vbox spacing="10px">
								<label value="Otorisasi DILIMPAHKAN" />
								<groupbox>
									<vbox>
										<label value="Otorisasi Tujuan" />
										<combobox
											model="@load(vm.listOtorisasiTujuan)"
											disabled="@load(vm.disableDilimpahkan)"
											selectedItem="@bind(vm.otorisasiTujuanDto)"
											buttonVisible="false" instant="true" autodrop="true"
											onChange="@command('searchKantorDilimpahkan')"
											value="@bind(vm.searchKantor)" width="300px"
											autocomplete="false">
											<template name="model">
												<comboitem
													label="@load(each.kodeNama)" />
											</template>
										</combobox>
									</vbox>
								</groupbox>
								<groupbox visible="false">
									<label
										value="Otorisasi DILAKUKAN SURVEY" />
									<groupbox>
										<vbox>
											<grid>
												<columns>
													<column
														width="150px" />
													<column
														width="300px" />
												</columns>
												<rows>
													<row>
														<label
															value="Jenis Survey" />
														<selectbox></selectbox>
													</row>
													<row>
														<label
															value="Petugas Survey" />
														<selectbox></selectbox>
													</row>
													<row>
														<label
															value="Tgl Survey" />
														<textbox></textbox>
													</row>
													<row>
														<label
															value="No Surat Perintah Survey" />
														<textbox></textbox>
													</row>
												</rows>
											</grid>
										</vbox>
									</groupbox>
								</groupbox>
							</vbox>
						</hbox>
						<hbox width="100%">
							<hbox>
								<button label="Simpan"
									iconSclass="z-icon-save" onClick="@command('save')" />
								<button label="Disposisi Berkas"
									iconSclass="z-icon-file"
									onClick="@command('disposisiBerkas', popup='/WEB-INF/application-pages/operasionalDetail/Disposisi.zul',popupHandler='iniHandler')" />
								<button label="Proses Selanjutnya"
									iconSclass="z-icon-arrow-right"
									onClick="@command('prosesSelanjutnya')" />
							</hbox>
<!-- 							<hbox pack="end" hflex="1"> -->
<!-- 								<button label="Keluar" style="background:#DD4B39" -->
<!-- 									iconSclass="z-icon-times" -->
<!-- 									onClick="@command('back',window=popupProsesOtorisasi)" /> -->
<!-- 							</hbox> -->
						</hbox>
					</vlayout>
				</div>
			</center>
		</borderlayout>
	</window>
</zk>