<?page title="MASTER LOKASI " contentType="text/html;charset=UTF-8"?>
<zk>

	<vlayout width="100%" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('ui.master.MstFndCamatVmd')">
		<separator height="2px" />
		<hbox>
			<label value="Data Lokasi " sclass="app-title" />
		</hbox>
		<window title="Pencarian Data Lokasi" border="normal"
			sclass="greenWindow">
			<separator height="10px" />
			<hbox width="100%" style="overflow:auto">
				<hbox style="overflow:auto" align="center" hflex="3"
					pack="center">
					<label value="Provinsi Lokasi" />
					<combobox width="400px"
						model="@bind(vm.listProvinsiDto)" value="@save(vm.searchProvinsi)"
						onOK="@command('searchIndex')" autodrop="true" autocomplete="true"
						onChange="@command('searchProvinsi')" 
						selectedItem="@bind(vm.searchProvinsi)">
						<template name="model">
							<comboitem label="@bind(each.kodeNamaProv)"
								value="@bind(vm.searchProvinsi)" />
						</template>
					</combobox>
					<button label="CARI" iconSclass="z-icon-search"
						onClick="@command('searchIndex')" />
				</hbox>
				<hbox hflex="1" pack="end">
					<hbox>
						<menupopup id="m1">
							<!-- 								<menuitem label="Tambah Lokasi Baru" -->
							<!-- 									onClick="@command('addLokasi')" /> -->
							<menuitem label="Tambah Lokasi Baru" iconSclass="z-icon-plus"
								onClick="@command('openDetail', 
									popup='/master/MasterLokasi/_detail.zul', mode='add')" />
							<!-- 								<menuitem label="Tambah Kecamatan" -->
							<!-- 									onClick="@command('add')" /> -->
							<menuitem label="Tambah Kecamatan" iconSclass="z-icon-plus"
								onClick="@command('openDetail', 
									popup='/master/MasterLokasi/detail2.zul', mode='add')" />
						</menupopup>
						<button dir="reverse"
							class="btn-default dropdown-toggle" popup="m1, after_start"
							iconSclass="caret">
							Tambah Lokasi
						</button>
					</hbox>
				</hbox>
			</hbox>
			<separator height="10px" />
		</window>

		<separator height="10px" />
		<window title="Data Lokasi" visible="@bind(vm.listIndex)"
			border="normal">
			<hbox width="100%">
				<hbox hflex="2">
					<label value="Tampilkan" />
					<combobox width="50px"
						selectedItem="@save(vm.pageSize)" value="@load(vm.pageSize)">
						<comboitem label="5" value="5" />
						<comboitem label="10" value="10" />
						<comboitem label="15" value="15" />
						<comboitem label="20" value="20" />
					</combobox>
					<label value="Baris Data" width="150px" />
				</hbox>
				<hbox hflex="2" pack="end">
					<label value="Filter Pencarian" width="150px" />
					<textbox placeholder="SEARCH"
						value="@save(vm.searchIndex)" onOK="@command('searchIndex')" />
				</hbox>
			</hbox>
			<separator height="5px" />
			<listbox model="@load(vm.listDto)" mold="paging"
				emptyMessage="Data Not Found" sizedByContent="false"
				pageSize="@load(vm.pageSize)" pagingPosition="top">
				<listhead sizable="true">
					<listheader label="#" width="50px" />
					<listheader label="KODE KECAMATAN " width="120px"
						sort="auto(kodeCamat)" />
					<listheader label="NAMA KECAMATAN"
						sort="auto(namaCamat)" />
					<listheader label="KODE PROVINSI" width="100px"
						sort="auto(kodeProvinsi)" />
					<listheader label="NAMA PROVINSI"
						sort="auto(namaProvinsi)" />
					<listheader label="KODE KAB. KOTA" width="110px"
						sort="auto(kodeKabkota)" />
					<listheader label="NAMA KAB. KOTA"
						sort="auto(namaKabkota)" />
					<listheader label="STATUS" width="50px"
						sort="auto(flagEnable)" />
					<listheader label="#" width="60px" />
					<listheader label="#" width="60px" />
				</listhead>
				<template name="model">
					<listitem>
						<listcell label="${forEachStatus.index+1}" />
						<listcell label="@load(each.kodeCamat)" />
						<listcell label="@load(each.namaCamat)" />
						<listcell label="@load(each.kodeProvinsi)" />
						<listcell label="@load(each.namaProvinsi)" />
						<listcell label="@load(each.kodeKabkota)" />
						<listcell label="@load(each.namaKabkota)" />
						<listcell label="@load(each.flagEnable)" />
						<!-- 						<listcell> -->
						<!-- 							<button label="Edit" -->
						<!-- 								onClick="@command('edit',item=each)" /> -->
						<!-- 						</listcell> -->
						<listcell>
							<button iconSclass="z-icon-edit"
								onClick="@command('openDetail', 
							popup='/master/MasterLokasi/_detail.zul', mode='edit', item=each)" />
						</listcell>
						<listcell>
							<button iconSclass="z-icon-trash-o"
								style="background:#DD4B39"
								onClick="@command('delete',item=each)" />
						</listcell>
					</listitem>
				</template>
			</listbox>
		</window>
	</vlayout>
</zk>