<?page title="Double Entry Data Laka RS" contentType="text/html;charset=UTF-8"?>
<zk>
	<window mode="modal" width="85%" id="popupDoubleEntry"
		viewModel="@id('vm') @init('ui.monitoring.MoDataLakaRsVmd')"
		apply="org.zkoss.bind.BindComposer" height="80%">
		<borderlayout height="100%">
			<north>
				<div sclass="page-header">
					<!-- TITLE AREA -->
					<hbox width="100%">
						<hbox hflex="2">
							<include
								src="WEB-INF/template/toolbarTitleDetail.zul" />
							<!-- TITLE AREA -->
						</hbox>
						<hbox hflex="2" pack="end">
							<button iconSclass="z-icon-times"
								sclass="btn-lov"
								onClick="@command('close',window=popupDoubleEntry) " />
						</hbox>
					</hbox>
					<separator spacing="2px" />
				</div>
			</north>
			<center flex="true" style="overflow:auto">
				<hbox>
					<groupbox width="360px">
						<window title="Data Korban di RS(Double)"
							border="normal" style="background:#09D6C9">
							<vbox>
								<grid>
									<columns>
										<column width="110px" />
										<column width="250px" />
									</columns>
									<rows>
										<row>
											<label value="Rumah Sakit" />
											<textbox width="200px"
												value="@bind(vm.plKorbanRsDto.namaRs)" />

										</row>
										<row>
											<label value="Masuk RS" />
											<textbox width="200px"
												value="@bind(vm.plKorbanRsDto.tglMasukRs)" />

										</row>
										<row>
											<label value="No SEP" />
											<textbox width="200px"
												value="@bind(vm.plKorbanRsDto.kodeKejadian)" />
										</row>
										<row>
											<label value="Ruangan" />
											<textbox width="200px"
												value="@bind(vm.plKorbanRsDto.ruangan)" />
										</row>
										<row>
											<label
												value="Tanggal Kejadian" />
											<textbox width="200px"
												value="@bind(vm.plKorbanRsDto.tglKejadian) " />
										</row>
										<row>
											<label value="Nama" />
											<textbox
												value="@bind(vm.plKorbanRsDto.namaKorban)" />
										</row>
										<row>
											<label value="Alamat" />
											<textbox width="200px"
												value="@bind(vm.plKorbanRsDto.alamat)" />
										</row>
									</rows>
								</grid>
							</vbox>
						</window>
					</groupbox>
					<separator width="5px" />
					<groupbox>
						<vbox>
							<window title="Cari Data Laka RS"
								border="normal" sclass="greenWindow">
								<hbox>
									<grid>
										<columns>
											<column width="120px" />
											<column width="300px" />
										</columns>
										<rows>
											<row>
												<label
													value="Rumah Sakit" />
												<combobox width="250px"
													onFocus="@command('searchRs')" model="@load(vm.listRs)"
													buttonVisible="false" autodrop="true"
													selectedItem="@bind(vm.plRumahSakitDto)"
													autocomplete="false" instant="true"
													onChange="@command('searchRs')"
													value="@save(vm.searchRs)">
													<template
														name="model">
														<comboitem
															label="@bind(each.kodeNamaRs)"
															value="@bind(each.kodeRumahsakit)" />
													</template>
												</combobox>
											</row>
											<row>
												<label
													value="Tgl Masuk RS" />
												<hlayout>
													<datebox
														width="100px" value="@bind(vm.startDate)" onCreate="self.value = new Date()">
													</datebox>
													<label value="s/d" />
													<datebox
														width="100px" value="@bind(vm.endDate)" onCreate="self.value = new Date()">
													</datebox>
												</hlayout>
											</row>
										</rows>
									</grid>
								</hbox>
								<separator height="10px" />
								<hbox width="100%">
									<hbox hflex="1" pack="start">
										<button label="Cari"
											onClick="@command('cari')" iconSclass="z-icon-search" />
									</hbox>
								</hbox>
							</window>
							<separator height="10px"></separator>
							<window border="normal"
								title="Pilih Induk Laka RS" width="100%" position="center">
								<hbox width="100%">
									<hbox hflex="2">
										<label value="Tampilkan" />
										<combobox width="50px"
											selectedItem="@save(vm.pageSize)"
											value="@load(vm.pageSize)">
											<comboitem label="5"
												value="5" />
											<comboitem label="10"
												value="10" />
											<comboitem label="15"
												value="15" />
											<comboitem label="20"
												value="20" />
										</combobox>
										<label value="Baris Data"
											width="150px" />
									</hbox>
									<hbox hflex="2" pack="end">
										<label value="Filter Pencarian"
											width="150px" />
										<textbox placeholder="FILTER"
											value="@save(vm.searchIndex)"
											onOK="@command('cariFilterAja', item=self.value)" />
									</hbox>
								</hbox>
								<separator height="5px" />
								<listbox model="@load(vm.listLakaRs)"
									mold="paging" emptyMessage="${labels.I003}"
									pageSize="@load(vm.pageSize)" pagingPosition="top">
									<listhead>
										<listheader label="NO" />
										<listheader label="Nama RS" sort="auto(namaRs)" />
										<listheader label="Kejadian" sort="auto(tglKejadian)"/>
										<listheader label="Masuk RS" sort="auto(tglMasukRs)"/>
										<listheader
											label="Masuk Sistem" sort="auto(createdDate)" />
										<listheader label="Nama Korban" sort="auto(namaKorban)"/>
										<listheader label="#" />
									</listhead>

									<template name="model">
										<listitem>
											<listcell
												label="${forEachStatus.index+1}" />
											<listcell
												label="@load(each.namaRs)">
											</listcell>
											<listcell
												label="@load(each.tglKejadian) @converter('formatedDate', format='dd/MM/YYYY ')" />
											<listcell
												label="@load(each.tglMasukRs) @converter('formatedDate', format='dd/MM/yyyy')" />
											<listcell
												label="@load(each.createdDate) @converter('formatedDate', format='dd/MM/yyyy HH:mm')" />
												<listcell label="@load(each.namaKorban)"/>
												<listcell>
												<button label="pilih"></button></listcell>
										</listitem>
									</template>
								</listbox>
							</window>
						</vbox>
					</groupbox>
				</hbox>
			</center>
		</borderlayout>
	</window>
</zk>