<?page title="Buka / Tutup Periode Entry Pelayanan" contentType="text/html;charset=UTF-8"?>
<zk>
	<vlayout width="100%" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('ui.operasional.insidentil.PeriodeEntryPelayananVmd')">
		<separator height="5px" />
		<hbox>
			<label value="Buka / Tutup Periode Entry Pelayanan" sclass="app-title" />
		</hbox>
		<separator height="2px" />

		<window title="Pencarian Data" width="100%" border="normal"
			sclass="greenWindow">
			<vbox>
				<grid>
					<columns>
						<column width="150px" />
						<column width="300px" />
					</columns>
					<rows>
						<row>
							<label value="Periode : " />
							<hlayout>
								<selectbox model="@load(vm.listBulan)"
									width="120px" selectedItem="@bind(vm.bulanPeriode)">
									<template name="model">
										<label value="@load(each)" />
									</template>
								</selectbox>
								<textbox width="80px"
									value="@bind(vm.tahunPeriode)" />
							</hlayout>
						</row>
						<row>
							<label />
							<hlayout>
								<button label="Cari"
									onClick="@command('cari')" iconSclass="z-icon-search" />
								<button label="Tampilkan Semua"
									onClick="@command('tampilkanSemua')" />
							</hlayout>
						</row>
					</rows>
				</grid>
			</vbox>
		</window>

		<window title=" " visible="@load(vm.listIndexWindow)">
			<hbox width="100%">
				<hbox hflex="2">
					<label value="Tampilkan" />
					<combobox selectedItem="@save(vm.pageSize)"
						value="@load(vm.pageSize)" width="50px">
						<comboitem label="5" value="5" />
						<comboitem label="10" value="10" />
						<comboitem label="15" value="15" />
						<comboitem label="20" value="20" />
					</combobox>
					<label value="Baris Data" width="150px" />
				</hbox>
				<hbox hflex="2" pack="end">
					<label value="Filter Pencarian" width="150px" />
					<textbox placeholder="SEARCH" 
						value="@bind(vm.searchIndex)" onOK="@command('cariFilterAja', item=self.value)" />
				</hbox>
			</hbox>
			<separator height="5px" />
			<radiogroup id="sv1"/>
			<listbox model="@load(vm.listPeriodeLockDtoCopy)" mold="paging"
				pagingPosition="top" sizedByContent="false"
				selectedItem="@save(vm.periodeLockDto)"
				emptyMessage="${labels.I003}" pageSize="@load(vm.pageSize)">
				<listhead width="100%">
					<listheader label="NO" width="50px"/>
					<listheader label="#" width="50px" />
					<listheader label="KANTOR" />
					<listheader label="PERIODE" />
					<listheader label="STATUS" />
					<listheader label="TGL UPDATE" />
					<listheader label="#" />
					
				</listhead>
				<template name="model">
					<listitem width="100%">
						<listcell label="${forEachStatus.index+1}" />
						<listcell>
							<radio value="@load(each)" radiogroup="sv1" />
						</listcell>
						<listcell label="@load(each.kodeKantorJr)" />
						<listcell label="@load(each.periode)" />
						<listcell label="@load(each.status)"/>
						<listcell label="@load(each.creationDate) @converter('formatedDate' , format='dd/MM/yyyy')"  />
						<listcell>
							<button label="edit" visible="@load(vm.admin)" onClick="@command('edit', item=each)"
						</listcell>
					</listitem>
				</template>
			</listbox>

		</window>
		
		<window id="winPeriod" width="50%" apply="org.zkoss.bind.BindComposer" mode="modal" visible="@load(vm.)"
		viewModel="@id('vm') @init('ui.operasional.insidentil.PeriodeEntryPelayananVmd')">
			<hbox width="100%" pack="end">
				<button sclass="btn-lov"
					iconSclass="z-icon-times" onClick="@command('close')" />
			</hbox>
			<separator />
			<hbox>
				<hbox width="150px">
					<label value="Kantor JasaRaharja" />
				</hbox>
				<hbox width="250px">
					<label value="@load(vm.kantorFull)" />
				</hbox>
			</hbox>
			<hbox>
				<hbox width="150px">
					<label value="Periode" />
				</hbox>
				<hbox width="250px">
					<label value="@load(vm.periodeLockDto.periode)" />
				</hbox>
			</hbox>
			<hbox>
				<hbox width="150px">
					<label value="Status" />
				</hbox>
				<hbox width="250px">
					<combobox width="50px"
						selectedItem="@bind(vm.status)"
						value="@load(vm.status)">
						<comboitem label="TUTUP"
							value="CLOSED" />
						<comboitem label="BUKA"
							value="OPEN" />
					</combobox>
				</hbox>
			</hbox>

			<hbox width="500px" align="end">
					<button label="Simpan" onClick="@command('simpan')" />
					<separator />
					<button label="Tutup" onClick="@command('close')" />
			</hbox>

		</window>
	</vlayout>
</zk>